li {
    display: inline;
    padding: 5%;
  }
  
nav {
    display: flex;
    justify-content: space-between; 
    max-width: 1200px;
    margin: 10px auto;
  }

.product-image {
    max-width: 200px;
}

.item {
    padding-right: 40px;
}

.row {
    display: flex;
  }